body 
{ 	
	background-color:  #e3dfdc;
	margin: 0px;
	padding: 0px;
		font-family:arial, helvetica,sans-serif;
}

header > img
{
	text-align: left; 
	margin-left: 20px; 
	width: 1000px; 
	height: 101px;
	color: white;
}
	

#contenedorCuerpo
{

	margin-top: 0px;
	margin-left: 0px;
	border:solid #33B5FF   3px;
	box-shadow: 1px 1px 7px 5px;
	     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#contenedorCuerpomargin
{
	
	font-family: arial, helvetica, sans-serif,verdana;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
	margin-top: 50px;
	margin-left: 30px;
	
	
}
#contenedorbuton{
	text-align: center;
	
}

#colorbo{

    color: #030000  ;
    font-weight: bold;
    background-color:blue;
    font-family:Arial;
    text-align: center;
    background-position: 30%;
    height: 40px;
    width:176px  ;
    left: 1000px;

}
#linck{

    color: #ffffff;
    

}



 


 