body 
{ 	
	background-color: #e3dfdc;
	margin: 0px;
	padding: 0px;
		font-family:arial, helvetica,sans-serif;
}

header > img
{
	text-align: left; 
	margin-left: 20px; 
	width: 350px; 
	height: 101px;
	color: white;
}
	


#contenedorCuerpo
{
	margin-top: 0px;
	margin-left: 580px;
	border:solid #33B5FF 3px;
	box-shadow: 1px 1px 7px 5px;
	     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#contenedorCuerpomargin
{   
	
	font-family: arial, helvetica, sans-serif,verdana;
    font-size: 20px;
    font-weight: bold;      
	color: #ffffff;
	margin-top: 30px;
	margin-left: 50px;
	
	
}
#linck{

    color: #ffffff;
    

}
#contenedorbuton{
	text-align: center;
	
}
#colorbo{
    color: #ffffff;
    background-color:blue;
    font-family:Arial;
    text-align: center;
    background-position: 30%;
    height: 40px;
    width:176px  ;
 
    left: 1000px;

}



 


 