body
{
 	
 	background-color: #e3dfdc;
	margin: 0px;
	padding: 0px;
		font-family:arial, helvetica,sans-serif;
}

header
{
	 background-color: #0e407b;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
	height: 70px;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	font-family: arial;
	
}


		footer
		{
			background-color: #0e407b;
			bottom: 0px;
			color: white;
			height: 50px;
			left: 0px;
			position: fixed;
			right: 0px;
			width: 100%;
			text-align: center; 
		}

	

		*{
			padding: 0px;
			margin: 0px;
		}
		#header{
			
			margin: auto;
			width:900px;
			font-family: arial, helvetica, sans-serif,verdana;

			
		}

		ul, ol{
			list-style: none;
		}

		.nav li a {			
			background-color: #0c0c6d;
			color: #fff;
			text-decoration: none;
			padding: 26px 50px;
			display: block;

		}
		 .nav li a:hover {
			background-color: #FB7E29;

		}

		.nav >li{
			float: left;
		}

		.nav li ul{
			display: none;
			position: absolute;
			min-width: 220px;
		}
		.nav li:hover > ul{
			display: block;
			color: orange;
		}

		 .nav li ul li{
			color: #000000;
			position: relative;

		}
		.nav li ul li ul{
			right: -200px;
			top: 0px;
			color: #000000;
		}

		
		 #cuerpo
		{
			background-color:#ffffff;//#434343;
			padding-bottom: 40px;
			padding-top: 50px;
			text-align: center;
			width: 1500px;
			height: 300px;
			float: right;
			display: inline-block;
			align-content: center;

		}	


#sectionCuerpoGeneral
{
	 padding-top: 65px;
}
 