body 
{ 	
	background-color: #e3dfdc;
	margin: 0px;
	padding: 0px;
		font-family:arial, helvetica,sans-serif;
}
header
{	
	background-color: #1665c3;
	height: 102px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	line-height: 50px;
	font-family: helvetica,sans-serif;
	color: white;
}
header > img
{
	text-align: left; 
	margin-left: 20px; 
	width: 350px; 
	height: 101px;
	color: white;
}
header >b
{
	color: #093d7c; 
	font-size: 27px; 
	display: inline-table; 
	height: 150px; 
	text-align: right; 
	width: 440px; 
	vertical-align: middle; 
	margin-left: 50px;
	color: 	white;
}

section
{
	padding-top: 100px;
	text-align: center;
	display: block;
}

#contenedorLoginn
{
	margin-top: 65px;
	margin-left: 65%;
	height: 185px;
	width: 450px;
	border:solid #008fb7 3px;
	box-shadow: 1px 1px 7px 7px;
	     -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}
 
#formularioLogin label
{
	color: white ;
  margin-left: 30px;
  float: left;
	 
      -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}  
#formularioLogin input
{
  margin-right: 15px;
  float: right;
  width: 220px;
  height: 25px;
      -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
 